﻿

<script src="/umbraco/js/angular/cms/cms.resource.js" />
<script src="/umbraco/js/angular/cms/cms.controller.js" />

<div style="max-width: 1200px">

    <div class="row">    
        <img src="/images/logo.png" alt="COMPANY NAME" " style="float:left;margin-top: 20px;margin-left:20px">  
        <h3 style="float:left; margin-left:100px">Welcome!</h3 >
    </div>

</div> 